
    <link rel="stylesheet" href="/sn/public/css/aboutme.css">
    <script src="/sn/public/js/aboutme.js"></script>
    <!--<script src="js/swiper.min.js"></script>-->
<style>
    html, body {
        position: relative;
        height: 100%;
    }
    body {
        background: #eee;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color:#000;
        margin: 0;
        padding: 0;
    }
    .swiper-container {
        width: 100%;
        height: 100%;

    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
    .swiper-slide >img{
        display: block;
        width: 100%;
        height: 100%;
    }
</style>

<body>
    <section class="banner">
        <img src="../../public/images/banner2.png" alt="">
        <!--<div class="swiper-container">-->
            <!--<div class="swiper-wrapper">-->
                <!--<div class="swiper-slide">-->
                    <!--<img src="../../public/images/banner2.png" alt="">-->
                <!--</div>-->
                <!--<div class="swiper-slide">-->
                    <!--<img src="../../public/images/banner3.png" alt="">-->
                <!--</div>-->
                <!--<div class="swiper-slide">-->
                    <!--<img src="../../public/images/banner4.png" alt="">-->
                <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash; Add Pagination &ndash;&gt;-->
            <!--&lt;!&ndash;<div class="swiper-pagination"></div>&ndash;&gt;-->
            <!--&lt;!&ndash; Add Arrows &ndash;&gt;-->
            <!--<div class="swiper-button-next"></div>-->
            <!--<div class="swiper-button-prev"></div>-->
        <!--</div>-->

        <!-- 遮罩 -->
        <div class="shade">
            <div class="center">
                <div class="content">
                    <div class="title">
                        <span class="title2">致力打造优秀品牌服务上去</span>
                    </div>
                    <span class="des">COMMITTED TO CREATING HIGH-END BRAND SERVICE PROVIDERS</span>
                </div>
                <div class="content1"></div>
                <div class="colors"></div>

            </div>
        </div>
    </section>

<!-- 主体内容开始 -->
      <section class="main">
        <div class="top">
            <div class="top1">
                <div class="top2"></div>
            </div>
        </div>

        <section class="title">
            <div class="left"><a href="/sn/index.php/home/index">首页</a></div>
            <div class="center">>></div>
            <div class="right"><a href="javascript:;">关于我们</a></div>
        </section>
    <div class="tit">
        <div class="blue"></div>
        <div class="zjian">
            <ul class="cricle">
                <li></li>
                <li class="bluee"></li>
                <li></li>
            </ul>
            <span class="zw">/企/业/简/介/</span>
            <span class="ent">ENTERPRISE PROFILE</span>
            <P class="tra">TRAVLE</P>
        </div>
        <div class="violet"></div>
    </div>

    <div class="old">
        <div class="img11">
            <img src="" alt="">
        </div>
        <span class="jsao">
            <!--企业愿景<br/><br/>-->
            <!--愿 景：70年后世人 还认同我们-->
            <!--<br/>-->
            <!--使 命：品牌强国 创意立世-->
            <!--<br/>-->
            <!--价值观：责任、真诚、尊重、团队、激情、学习-->
            <!--<br/>-->
            <!--文化核心：见和同解、律和同修、口和无诤-->
            <!--<br/>-->
            <!--身和同往——"六和"文化-->
            <!--<br/>-->
            <!--实战观点：好策划用"脚"走，用"嘴"问，用"脑"想，用"手"写-->
            <!--<br/>-->
            <!--实战观点：换一个角度，换一个世界-->
        </span>
    </div>

    <div class="wzhang">
        <div class="us">
            <div class="dian"></div>
            <!--<span>关于我们 /</span>-->
            <!--<p>ABOUT</p>-->
            <!--<i>US</i>-->
        </div>
        <p class="wzi1">
        </p>
        <br/>
        <p class="wzi2">

        </p>

        <div class="dian1"></div>
        <p class="jingying"></p>
        <p class="wzi3">

        </p>
        <p class="wzi4">

        </p>
        <div class="us1">
            <div class="dian2"></div>
            <!--<span>品牌故事 /</span>-->
            <!--<p>BRAND STORY</p>-->
        </div>
        
        <ul class="three">
            <li>
                <img src="" alt="">
            </li>
            <li>
                <img src="" alt="">
            </li>
            <li>
                <img src="" alt="">
            </li>
        </ul>
        <p class="wzi5">
            <!--公司致力于深植服饰文化，传承优秀民族工艺，为追求服装品味的各界人士，不断呈现高贵大方的精美服饰。十余年来，我们为许多知名人士提供个性定制、量体制衣服务，在业界享有优良口碑和司致力于深植服饰文化，传承优秀民族工艺，为追求服装品味士，-->
        </p>
        <p class="wzi6">
            <!--不断呈现高贵大方的精美服饰。十余年来，我们为许多知名人士提供个性定制、量体制衣服务，在业界享有优良口碑和声誉。我们的设计理念和职业素养，也赢得了顾客们的广泛好评-->
        </p>
        <p class="wzi7">
            <!--The company is committed to deeply rooted in the clothing culture, the inheritance of excellent national craft, for the pursuit of clothing tastes from all walks of life, continue to present noble and generous exquisite costumes. For more than ten years, we have customized and tailored for many famous people-->
        </p>
        <p class="wzi8">
            <!--The elegant dress that is always elegant. For more than ten years, we have provided personalized and tailored clothing services for many famous people, and have a good reputation and reputation in the industry. Our design philosophy and occupation accomplishment, but also win-->
        </p>
    </div>
    </section>