<link rel="stylesheet" href="/sn/public/css/details.css">
<script src="/sn/public/js/details.js"></script>



<section class="banner">

    <div class="banner-img">
        <!--<img src="img/banner1.jpg" alt="">-->
    </div>

    <!-- 遮罩 -->
    <div class="shade">
        <div class="center">
            <div class="content">
                <div class="title">
                    <span class=" title1">欧美风</span>
                    <span class="title2">时尚路线</span>
                </div>
                <span class="des">EUROPE AND THE UNITED SEATES WIND FASHION LINE</span>
                <div class="tiao">
                    <div class="tiao1"></div>
                </div>
            </div>
            <div class="colors"></div>

        </div>
    </div>
</section>

<!-- 主体内容开始 -->
<section class="main">
    <div class="top">
        <div class="top1">
            <div class="top2"></div>
        </div>
    </div>

    <section class="title">
        <div class="left"><a href="/sn/index.php/home/index">首页</a></div>
        <div class="center">>></div>
        <div class="left"><a href="/sn/index.php/home/brands">品牌推荐</a></div>
        <div class="center">>></div>
        <div class="right"><a href="/sn/index.php/home/details">品牌详情</a></div>
    </section>

    <section class="pinpai">
        <div class="pleft"></div>
        <div class="pcenter">
            <span class="title">品牌详情</span>
            <div class="tiao"></div>
            <span class="des">&nbspBRAND</span>
        </div>
        <div class="pright"></div>
    </section>

    <section class="liulan">
        <div class="kuang1"></div>
        <div class="shuju">
            <span class="time"><span></span>2017-11-4</span>
            <span class="renshu"><span></span>2928人浏览</span>
        </div>
        <div class="kuang1 kuang2"></div>
    </section>

    <section class="shuoming shuoming1">
        <!--<div class="title">-->
            <!--<span class="title1">■ 服装说明</span>-->
            <!--<span>/</span>-->
            <!--<span class="title2">CLOTHING</span>-->
            <!--<span class="title3">THAT</span>-->
        <!--</div>-->
        <!--<div class="content">-->
            <!--<p></p>-->
            <!--<p></p>-->
            <!--<ul>-->
                <!--<li><img src="img/s1.jpg" alt=""></li>-->
                <!--<li><img src="img/s2.jpg" alt=""></li>-->
                <!--<li>-->
                    <!--<img src="img/s3.jpg" alt="">-->
                    <!--<img src="img/s4.jpg" alt="">-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->
    </section>

    <section class="shuoming shuoming2">
        <!--<div class="title">-->
            <!--<span class="title1">■ 制作说明</span>-->
            <!--<span>/</span>-->
            <!--<span class="title2">CLOTHING</span>-->
            <!--<span class="title3">THAT</span>-->
        <!--</div>-->
        <!--<div class="content content1">-->
             <!--<p></p>-->
             <!--<p></p>-->
            <!--<div>-->
                <!--<img src="img/s5.jpg" alt="">-->
                <!--<div class="sanjiao">-->
                    <!--<div class="sdes">高级定制</div>-->
                    <!--<div class="scont">让您感受完美贴身</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    </section>




    <section class="zixun">
        <div class="pinpai">
            <div class="pcenter">
                <span class="title">品牌资讯</span>
                <div class="tiao"></div>
                <span class="des">&nbspBRAND</span>
            </div>
        </div>
        <ul class="zx">
            <!--<li>-->
                <!--<a href="">-->
                    <!--<div class="zleft">-->
                        <!--<span class="num">01</span>-->
                        <!--<span class="time">2017/11/4</span>-->
                    <!--</div>-->

                    <!--<div class="zright">-->
                        <!--<p class="zdes">快时尚行业两极分化：HM的至最低  ZARA一路凯歌</p>-->
                        <!--<p class="content">据H&M发布的财报显示，公司业绩持续下跌，截至今年9月涨幅已跌入最低值。然而，同样身为快时尚品牌的ZARA则表现出良好的业绩。分析师认为，H&M业绩下滑主要受困于库存的高压力，而ZARA大幅...</p>-->
                    <!--</div>-->
                    <!--<div class="bg"></div>-->
                <!--</a>-->

            <!--</li>-->
         </ul>
    </section>

</section>


<script>
    var swiper = new Swiper('.swiper-container', {
        spaceBetween: 30,
        centeredSlides: true,
        loop:true,
        autoplay: {
            delay: 2500,
            disableOnInteraction: false,
        },
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    });
</script>
