<!--时尚开始-->
<link rel="stylesheet" href="/sn/public/css/footer.css">
<section>
    <div class="shis">
        <div class="shileft">
            <div class="tuleft"></div>
            <div class="turight">
                <p class="shititle"><span>时尚</span>    <span>高端 </span>   <span>大气</span></p>
                <p class="shicontent" >高端大气上档次，低调奢华有内涵,引领时尚风格。高端大气上档次，低调奢有内涵,引领时尚。高端大气上档次，低奢华有内涵,引领时尚风格。</p>
                <p class="tel">电话：10010 60086</p>
            </div>
        </div>
        <div class="shiright">
            <p>高端大气上档次，低调奢华有内涵,引领时尚风格。高端大气上档次，低调奢有内涵,引领时尚。高端大气上档次，低奢华有内涵,引领时尚风格。高端大气上档次，低调奢,高端大气上档次，低调奢华有内涵,引领时尚风格。高端大气上档次，低调奢有内涵,引领时尚。高端大气上档次，低奢华有内涵,引领时尚风格。高端大气上档次，低调奢有内涵,引领时尚</p>
        </div>
    </div>
    <div class="dixian">
        <div class="dixian1"></div>
        <div class="xia"></div>
    </div>
</section>

<!--时尚结束-->
<footer>
   <div class="img1">
       <img src="../../public/images/6.jpg" alt="">
   </div>
    <div class="bju">
        <ul class="fbu">
            <li><a href="/sn/index.php/home/aboutme">关于我们</a></li>
            <li><a href="/sn/index.php/home/xinwen">新闻动态</a></li>
            <!--<li><a href="">工作机会</a></li>-->
            <!--<li><a href="">商务合作</a></li>-->
            <li class="last"><a href="/sn/index.php/home/lianxi">意见反馈</a></li>
        </ul>
        <p class="address">晋ICP备11017824号-4        山西省太原市小店区平阳路 （京）字第06990号</p>
    </div>
</footer>
</body>
</html>
<script>
    let xia= $('.dixian>.xia');
    $(document).ready(function(){
        xia.click(function(){
            $('html,body').animate({scrollTop:0},'slow');
        });
    });
</script>