<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>姝女依轩</title>
    <link rel="stylesheet" href="/sn/public/css/header.css">
    <link rel="stylesheet" href="/sn/public/css/swiper.min.css">
    <script src="/sn/public/js/jquery.js"></script>
    <script src="/sn/public/js/swiper.min.js"></script>
    <script src="/sn/public/js/header.js"></script>
</head>
<body>
<header>
    <div class="head">
        <div class="logo"></div>
        <ul class="nav">
            <!--<li><a href="">首页</a></li>-->
            <!--<li><a href="">关于我们</a></li>-->
            <!--<li><a href="/sn/index.php/home/brands">品牌推荐</a></li>-->
            <!--<li><a href="">新闻中心</a></li>-->
            <!--<li><a href="">联系我们</a></li>-->
        </ul>
    </div>
</header>

