
    <link rel="stylesheet" href="/sn/public/css/index.css">
    <link rel="stylesheet" href="/sn/public/css/swiper.css">
    <script src="/sn/public/js/swiper.js"></script>
    <script src="/sn/public/js/index.js"></script>
<!--banner开始-->
<div class="bannerBox">
    <ul class="picBox">
        <li>
            <img src="../../public/images/banner.jpg" alt="">
            <div class="ziti">
                <div class="des">
                    <img src="../../public/images/banner11.png" alt="">
                    <a href="/sn/index.php/home/pinpaixiangqing?pid=9" class="more">MORE</a>
                </div>
            </div>

        </li>
        <li>
            <img src="../../public/images/banner3.png" alt="">
            <div class="ziti">
                <div class="des">
                    <img src="../../public/images/banner11.png" alt="">
                    <a href="/sn/index.php/home/lianxi" class="more">MORE</a>
                </div>
            </div>
        </li>
        <li>
            <img src="../../public/images/banner2.png" alt="">
            <div class="ziti">
                <div class="des">
                    <img src="../../public/images/banner11.png" alt="">
                    <a href="/sn/index.php/home/pinpaixiangqing?pid=10" class="more">MORE</a>
                </div>
            </div>
        </li>
    </ul>
</div>

<!--banner结束-->
<!--经典服装开始-->
    <section class="classics">
        <div class="inside">
            <div class="top">
                <div class="topT"></div>
                <div class="topCenter">
                    <div class="boxL">
                        <div class="jiao"></div>
                    </div>
                    <div class="box">COSTUME</div>
                    <div class="boxR">
                        <div class="jiao1"></div>
                    </div>
                </div>
                <div class="topB">
                    <p>经 <span>/</span>典<span>/</span></p>
                    <p>服<span>/</span>装</p>
                </div>
            </div>
            <ul class="content">
                <li class="left">
                    <div class="title">
                        <!--<span>时尚</span><span>毛衣</span>-->
                        <!--<p>FASHION</p>-->
                        <!--<p>SWeater</p>-->
                    </div>
                    <div class="leftCenter">
                        <!--<p>高端大气上档次，低调奢华有内涵，引领时尚风格。高端大气上档次，低调奢华有内涵，引领时尚风格。高端大气上档次，低调奢华有内涵，引领时尚风格。高端大气上档次，低调奢华有内涵，引领时尚风格。</p>-->
                    </div>
                    <div class="leftBottom">
                        <!--<p>marvelous,gorgeous,splended and posh <br>Low-key luxury has connotation,leading fashion peak <br>Depends on collocation</p>-->
                    </div>
                </li>
                <li class="right">
                    <div class="box">
                        <img src="" alt="">
                    </div>
                    <div class="tiao">
                        <div class="tiao1"></div>
                        <p>OPULEN</p>
                    </div>
                </li>
            </ul>
            <ul class="content1">
                <li class="right">
                    <div class="box">
                        <img src="" alt="">
                    </div>
                    <div class="tiao">
                        <p>OPULEN</p>
                        <div class="tiao1"></div>
                    </div>
                </li>
                <li class="left">
                    <div class="title">
                        <!--<span>衬衣</span><span>装</span>-->
                        <!--<p>HIGH-END</p>-->
                        <!--<p>ATMOSPHERE</p>-->
                    </div>
                    <div class="leftCenter">
                        <!--<p>高端大气上档次，低调奢华有内涵，引领时尚风格。高端大气上档次，低调奢华有内涵，引领时尚风格。高端大气上档次，低调奢华有内涵，引领时尚风格。高端大气上档次，低调奢华有内涵，引领时尚风格。</p>-->
                    </div>
                    <div class="leftBottom">
                        <!--<p>marvelous,gorgeous,splended and posh <br>Low-key luxury has connotation,leading fashion peak <br>Depends on collocation</p>-->
                    </div>
                </li>
            </ul>
            <ul class="content2">
                <li class="left">
                    <div class="title">
                        <!--<span>大气</span><span>皮衣</span>-->
                        <!--<p>HIGH-END</p>-->
                        <!--<p>ATMOSPHERE</p>-->
                    </div>
                    <div class="leftCenter">
                        <!--<p>高端大气上档次，低调奢华有内涵，引领时尚风格。高端大气上档次，低调奢华有内涵，引领时尚风格。高端大气上档次，低调奢华有内涵，引领时尚风格。高端大气上档次，低调奢华有内涵，引领时尚风格。</p>-->
                    </div>
                    <div class="leftBottom">
                        <!--<p>marvelous,gorgeous,splended and posh <br>Low-key luxury has connotation,leading fashion peak <br>Depends on collocation</p>-->
                    </div>
                </li>
                <li class="right">
                    <div class="box">
                        <img src="" alt="">
                    </div>
                    <div class="tiao">
                        <div class="tiao1"></div>
                        <p>OPULEN</p>
                    </div>
                </li>
            </ul>
            <div class="blockL"></div>
        </div>
    </section>
<!--经典服装结束-->

<!--高档品牌开始-->
    <section class="highGrade">
        <div class="bigbox">
            <div class="top">
                <div class="topT"></div>
                <div class="topCenter">
                    <div class="boxL">
                        <div class="jiao"></div>
                    </div>
                    <div class="box">COSTUME</div>
                    <div class="boxR">
                        <div class="jiao1"></div>
                    </div>
                </div>
                <div class="topB">
                    <p>高 <span>/</span>档<span>/</span></p>
                    <p>品<span>/</span>牌</p>
                </div>
            </div>
            <ul class="list">
                <!--<li class="list1">-->
                    <!--<div class="imgBox">-->
                        <!--<img src="../../public/images/a.jpg" alt="">-->
                        <!--<div class="box">-->
                            <!--<div class="tiao"></div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="title">-->
                        <!--<p>羽绒服</p>-->
                        <!--<p>ATMOSPHERE</p>-->
                        <!--<p>高端大气上档次，低调奢华有内涵，引领时尚风格。高端大气上档次，低调奢华有内涵，引领时尚风格。高端大气上档次，低调奢华有内涵</p>-->
                    <!--</div>-->

                <!--</li>-->
                <!--<li class="list1">-->
                    <!--<div class="imgBox">-->
                        <!--<img src="../../public/images/b.png" alt="">-->
                        <!--<div class="box">-->
                            <!--<div class="tiao"></div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="title">-->
                        <!--<p>高端羽绒服</p>-->
                        <!--<p>ATMOSPHERE</p>-->
                        <!--<p>高端大气上档次，低调奢华有内涵，引领时尚风格。高端大气上档次，低调奢华有内涵，引领时尚风格。高端大气上档次，低调奢华有内涵</p>-->
                    <!--</div>-->

                <!--</li>-->
                <!--<li class="list1">-->
                    <!--<div class="imgBox">-->
                        <!--<img src="../../public/images/1.png" alt="">-->
                        <!--<div class="box">-->
                            <!--<div class="tiao"></div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="title">-->
                        <!--<p>羽绒服</p>-->
                        <!--<p>ATMOSPHERE</p>-->
                        <!--<p>高端大气上档次，低调奢华有内涵，引领时尚风格。高端大气上档次，低调奢华有内涵，引领时尚风格。高端大气上档次，低调奢华有内涵</p>-->
                    <!--</div>-->

                <!--</li>-->
            </ul>
        </div>
        <div class="blockR"></div>
    </section>
<!--高档品牌结束-->
<!--times开始-->
    <section class="time">
        <img src="../../public/images/bg.png" alt="">
        <div class="tiaoL"></div>
        <div class="tiaoR"></div>
    </section>
<!--times结束-->
<!--video开始-->
    <section class="video">
        <div class="top">
            <div class="topT"></div>
            <div class="topCenter">
                <div class="boxL">
                    <div class="jiao"></div>
                </div>
                <div class="box">VIDEO</div>
                <div class="boxR">
                    <div class="jiao1"></div>
                </div>
            </div>
            <div class="topB">
                <p>视 <span>/</span>频<span>/</span></p>
                <p>展<span>/</span>示</p>
            </div>
        </div>
        <div class="swiper-container">
            <div class="swiper-wrapper" style="max-height: 366px;width:1200px;">
                <div class="swiper-slide">
                    <video id="video" poster="../../public/images/video.jpg" controls>
                        <!--<img src="img/11.png">-->
                        <source  src="../../public/images/video.mp4" type="video/mp4" >

                    </video>
                </div>
                <div class="swiper-slide">
                    <video id="video" poster="../../public/images/timg2.jpg" controls>
                        <source  src="../../public/images/video.mp4" type="video/mp4" >

                    </video>
                    <!--<img src="../../public/images/timg2.jpg">-->
                </div>
                <div class="swiper-slide">
                    <video id="video" poster="../../public/images/11.png" controls>
                        <source  src="../../public/images/video.mp4" type="video/mp4" >

                    </video>
                    <!--<img src="../../public/images/11.png">-->
                </div>
            </div>
            <!--<div class="title">FASHION</div>-->
            <!--<div class="times">time</div>-->
            <!--<div class="zanting">-->
                <!--<a href="javascript:;">-->
                    <!--<img src="../../public/images/stop.png" alt="" class="zt" style="display: block">-->
                <!--</a>-->
            <!--</div>-->
            <!--<div class="jindu">-->
                <!--<div class="tiao">-->
                    <!--<div class="select">-->
                        <!--<div class="button"></div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="quan"><img src="../../public/images/quan.png" alt=""></div>-->
        </div>
        <div class="fashion"></div>

    </section>
<!--video结束-->
<script>
    var swiper = new Swiper('.swiper-container', {
        effect: 'coverflow',
        grabCursor: true,
        centeredSlides: true,
        slidesPerView: 'auto',
        loop:true,
        coverflowEffect: {
            rotate:0,
            stretch: 0,
            depth: 80,
            modifier: 8,
            slideShadows : true,
        },

    });
    $(document).ready(function(){
        function rollOne(){
            $(".picBox").animate({marginLeft:"0"},5000,"linear",function(){
                $(this).css({marginLeft:"0px"});
                $(this).children("li").first().remove().clone(true).appendTo(".picBox");
            });
        }
        var startRollOne=setInterval(rollOne,5000);
        $(".bannerBox").hover(function () {
            clearInterval(startRollOne);
        }, function () {
            startRollOne=setInterval(rollOne,5000);
        });
    });
</script>
</html>