<link rel="stylesheet" href="/sn/public/css/zixun.css">
<script src="/sn/public/js/zixun.js"></script>

<!-- banner开始 -->
<section class="banner">

    <div class="banner-img">
        <!--<img src="img/banner1.jpg" alt="">-->
    </div>

    <!-- 遮罩 -->
    <div class="shade">
        <div class="center">
            <div class="content">
                <div class="title">
                    <span class=" title1">欧美风</span>
                    <span class="title2">时尚路线</span>
                </div>
                <span class="des">EUROPE AND THE UNITED SEATES WIND FASHION LINE</span>
                <div class="tiao">
                    <div class="tiao1"></div>
                </div>
                <!--<a href="" class="more"></a>-->
            </div>
            <div class="colors"></div>

        </div>
    </div>
</section>


<section style="margin-bottom: 80px;">
    <div class="xinwen">
        <div class="sxian">
            <div class="sxian1"></div>
        </div>
        <div class="xin">
              <div class="zixun">
                  <p>资讯详情</p>
              </div>
              <ul class="zititle">
                  <!--<li>-->
                      <!--<p></p>-->
                      <!--<p></p> -->
                  <!--</li>-->
              </ul>

            <div class="fanye">
                <button class="left">上一篇</button>
                <button class="right">下一篇</button>
            </div>

        </div>
    </div>

</section>